.app-name {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: 13px;
}

.app-logo-name {
  display: flex;
  align-items: center;
  margin-left: 15px;
  justify-content: center;
}
