@import '~normalize.css';
@import 'normal';
@import 'variables';
@import 'body';
@import 'container';
@import 'diagrams';
@import 'header';
@import 'index_page';
@import 'month_history_block';
@import 'normal';
@import 'right_block';
@import 'transaction_history';
@import 'bank_accounts';
@import 'app_logo_name';

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.index-wrapper {
  margin-top: 62px;
  display: flex;
  flex-direction: row;
}

.history_bank-accounts_wrapper {
  display: flex;
}
